<div class="container">
    <!-- Nombre -->
    <div class="row separador-contenido text-center mt-5 mx-3 p-3">
      <h1 class="text-white m-0">
        Raúl Antonio Villanueva Hernández
      </h1>
    </div>
    <!-- Descripción -->
    <div class="row separador-contenido mx-3 py-4">
      <h4 class="text-white">
        Estudiante de noveno semestre de la
        Licenciatura en Ingeniería de Software de
        la Facultad de Matemáticas de la
        Universidad Autónoma de Yucatán.
        Con interés en desarrollarse en el área de
        las tecnologías de la información y
        desarrollo web.
      </h4>
    </div>
    <!-- Experiencia laboral -->
    <div class="row separador-contenido mx-3 py-4">
      <div class="col-md-5 d-flex align-items-center">
        <i class="bi bi-briefcase pe-3" style="font-size: 2rem; color:white;"></i>
        <h1 class="text-white mb-0 mt-md-0">
          Experiencia laboral
        </h1>
      </div>
      <div class="col-md-7 mt-3 mt-md-3">
        <ul class="text-white fs-5">
          <li>
            Secretaría de Relaciones Exteriores <br><br>
            Enero - Junio 2023 <br><br>
            Cargo: Desarrollador web <br><br>
            <ol class="fs-6">
              <li>
                Análisis, diseño, desarrollo, pruebas e implementación del Sistema de Seguimiento de expedientes.
              </li>
              <li>
                Mantenimiento al sistema de Control de Acceso.
              </li>
            </ol>
          </li>
        </ul>
      </div>
    </div>
    <!-- Conocimientos -->
    <div class="row separador-contenido mx-3 py-4">
      <div class="col-md-5 d-flex align-items-center">
        <i class="bi bi-book pe-3" style="font-size: 2rem; color:white;"></i>
        <h1 class="text-white mb-0 mt-md-0">
          Conocimientos
        </h1>
      </div>
      <div class="col-md-7 mt-3 mt-md-3">
        <ul class="text-white fs-5">
          <li><h4>HTML/ CSS/ JS</h4></li>
          <li><h4>Java</h4></li>
          <li><h4>Vue / Angular</h4></li>
          <li><h4>C / C#</h4></li>
          <li><h4>Git / Github</h4></li>
        </ul>
      </div>
    </div>
    <!-- Idiomas -->
    <div class="row separador-contenido mx-3 py-4">
      <div class="col-md-5 d-flex align-items-center">
        <i class="bi bi-translate pe-3" style="font-size: 2rem; color:white;"></i>
        <h1 class="text-white mb-0 mt-md-0">
          Idiomas
        </h1>
      </div>
      <div class="col-md-7 mt-3 mt-md-3">
        <ul class="text-white fs-5">
          <li><h4>Inglés: nivel B1</h4></li>
          <li><h4>Francés: nivel básico.</h4></li>
        </ul>
      </div>
    </div>
    <!-- Aptitudes -->
    <div class="row separador-contenido mx-3 py-4">
      <div class="col-md-5 d-flex align-items-center">
        <i class="bi bi-person pe-3" style="font-size: 2rem; color:white;"></i>
        <h1 class="text-white mb-0 mt-md-0">
          Aptitudes
        </h1>
      </div>
      <div class="col-md-7 mt-3 mt-md-3">
        <ul class="text-white fs-5">
          <li><h4>Facilidad para trabajar en equipo.</h4></li>
          <li><h4>Facilidad para adaptarse a nuevos
            entornos.</h4></li>
          <li><h4>Capacidad para resolver problemas.</h4></li>
          <li><h4>Capacidad para trabajar bajo presión.</h4></li>
          <li><h4>Dispuesto para aprender nuevas tecnologías y lenguajes de programación.</h4></li>
        </ul>
      </div>
    </div>
    <!-- Contacto -->
    <div class="row separador-contenido mx-3 py-4">
      <div class="col-md-5 d-flex align-items-center">
        <i class="bi bi-telephone pe-3" style="font-size: 2rem; color:white;"></i>
        <h1 class="text-white mb-0 mt-md-0">
          Contacto
        </h1>
      </div>
      <div class="col-md-7 mt-3 mt-md-3">
        <ul class="text-white fs-5">
          <li><h4>Celular: 99-92-19-39-49</h4></li>
          <li><h4>Email: raulvillanueva8@hotmail.com</h4></li>
        </ul>
      </div>
    </div>
</div>