/* You can add global styles to this file, and also import other style files */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top,#5FCDDE, #2B5C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5FCDDE, #2B5C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.separador-contenido {
    border-top: 2px solid white; /* Cambia el grosor del borde y otros estilos según tus preferencias */
}